#shop__banner {
  @apply w-full h-[40vh] mb-16 flex lg:h-[50vh] xl:container xl:mx-auto;
}
#banner__slide {
  @apply w-full h-full mb-8;
}
.banner__wrapper {
  @apply container mx-auto h-[420px] w-full relative;
}
.banner__wrapper img {
  @apply w-full h-full object-cover;
}
.banner__product-wrapper {
  @apply absolute top-0 left-0 z-10 bg-[#C1ACB0] bg-opacity-70 w-full h-full flex flex-col items-center justify-center;
}
.banner__product-wrapper h1,
.banner__product-wrapper p {
  @apply text-white text-3xl font-poppins lg:text-5xl;
}
.banner__product-wrapper h1 {
  @apply font-bold;
}

#search__wrapper {
  @apply flex flex-row-reverse container mx-auto items-center px-4 py-8 justify-between gap-8 lg:flex-row lg:justify-around lg:px-16;
}

.search-bar form {
  display: grid;
  max-width: max-content;
  @apply relative z-20;
}
#s {
  grid-area: 1/1;
  @apply border-2 border-[#7b6772] bg-slate-50 w-60 font-poppins rounded-full py-2 pl-3 pr-14 focus:outline-none active:outline-none focus:border-4 lg:w-[384px];
}
#search_btn {
  background: url("../img/search_btn.svg") center center no-repeat;
  grid-area: 1/1;
  width: 3rem;
  height: 3rem;
  justify-self: end;
  cursor: pointer;
  border: none;
  text-indent: -10000px;
}

.filter_wrapper {
  @apply relative;
}

.filter_btn {
  transition: 0.3 all ease;
  @apply bg-[#7b6772] relative z-20 rounded-full;
}
.filter_btn p {
  @apply flex items-center mb-0 text-white uppercase font-semibold font-poppins px-6 py-3;
}
.filter_btn p:before {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../img/filter.svg") center center no-repeat;
  margin-right: 8px;
}
.filter_btn.active {
  transform: translate3d(0, -10px, 0);
}

.filter_list {
  @apply font-poppins absolute z-10 w-56 -left-8 pt-16 pb-4 top-1 shadow-lg bg-white lg:relative lg:py-0 lg:shadow-none lg:justify-between  lg:w-full lg:gap-10;
}

.filter_list li {
  @apply bg-white flex pl-8 pr-4 hover:text-white hover:bg-[#9D8F97] active:text-white active:bg-[#7b6772] lg:bg-transparent lg:py-2 lg:px-3 lg:rounded-full lg:bg-[#7b6772] lg:text-white lg:hover:bg-[#9D8F97];
}

#all_products,
#most-sales-btn,
#newest-btn,
#az-btn,
#price-btn {
  @apply px-4 py-2 text-sm uppercase font-bold text-black lg:text-white focus:outline-none focus:border-0;
}
.filter__price-wrapper {
  @apply relative;
}
#price-btn {
  @apply flex items-center mb-0;
}
#price-btn::after {
  background: url("../img/arrow-down.svg") center center no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  color: white;
}
@media (min-width: 1024px) {
  #price-btn::after {
    background: url("../img/arrow-down-white.svg") center center no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    content: "";
    margin-left: 8px;
  }
}
.filter__price {
  @apply absolute flex flex-col top-11 left-0 lg:right-0 bg-[#f6f6f6] text-black z-10 w-48 p-4 lg:shadow-xl lg:rounded-lg;
}
.filter__price div {
  @apply flex items-center mb-2;
}
.filter__price div label {
  @apply mb-0  font-poppins text-sm;
}
.filter__price div input {
  @apply border-2 border-gray-500 w-20 px-2 ml-3;
}
.filter__price button {
  @apply text-white font-poppins bg-[#7b6772] px-3 py-1 rounded-full text-xs uppercase;
}
#main-wrapper {
  @apply flex flex-col container mx-auto px-8 pt-8 items-center justify-center relative lg:flex-row lg:items-start lg:gap-8;
}
#product-list nav.product_nav ul.product_list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  @apply md:grid md:grid-cols-2 lg:grid-cols-3 lg:mt-0;
}
.categories_btn {
  transition: 0.3s all ease;
  @apply px-12 py-2 text-sm uppercase font-bold rounded-full bg-[#7b6772] text-white hover:bg-opacity-85 lg:text-center lg:text-base lg:rounded-none lg:bg-gray-300 lg:text-gray-700 lg:hover:bg-opacity-100 mb-0;
}
.categories_btn.active {
  transform: translate3d(80px, 0, 0);
  @apply relative z-30;
}
@media (min-width: 1024px) {
  .categories_btn.active {
    transform: translate3d(0, 0, 0);
  }
}
.categories_nav {
  @apply absolute left-0 top-8 z-20 w-full h-full bg-black bg-opacity-35 lg:relative lg:max-w-max lg:top-0 lg:bg-transparent;
}
.categories_nav #menu-categories-filter {
  @apply text-[#7a6772] font-poppins font-medium max-w-max bg-gray-200 px-4 py-8 lg:py-4;
}
.categories_nav #menu-categories-filter li {
  @apply border-b-2 border-b-gray-400 last:border-0 p-4;
}
.categories_nav #menu-categories-filter li a,
.navigation a {
  @apply text-[#7a6772] text-lg;
}
.navigation {
  @apply col-span-full md:col-start-1 md:col-span-2 lg:col-start-3 lg:col-span-1 flex justify-end font-poppins font-medium text-[#7a6772] px-12;
}
.nav-links {
  @apply flex;
}
.next.page-numbers {
  @apply hidden;
}
.page-numbers.current {
  @apply font-bold text-lg;
}
